@using DemoEshop.BusinessLayer.DataTransferObjects
@using X.PagedList.Mvc
@model X.PagedList.IPagedList<ProductDto>

<p margin-top="10px">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-sm">
    <tr>
        <th>
            @nameof(ProductDto.Name)
        </th>
        <th>
            @nameof(ProductDto.Price)
        </th>
        <th>
            Discount (in %)
        </th>
        <th>
            Image URL (~Content/Images/Products)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Price.ToString("N2") CZK
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImgUri)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<div class="col-md-12">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})
</div>